body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('./assets/wit-2.png') no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  min-height: 100vh;
}

h1 {
  font-size: 24px;
  color: white;
  margin-bottom: 0px;
}

h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.form {
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: white;
  width: 800px;
  height: 600px;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-size: 14px;
  color: #444;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  border-color: #a04cff;
  outline: none;
  box-shadow: 0 0 5px rgba(160, 76, 255, 0.5);
}

.submit-button {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #a04cff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #8d3bff;
}

.disabled-input {
  background-color: #e7e4e4;
}

.status-message {
  margin-top: 15px;
}

.font-color-primary {
  color: #8d3bff;
}

/* Responsive Design */
@media (min-width: 768px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  .form {
    padding: 30px;
  }

  .submit-button {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 40px;
    position: absolute;
    right: 150px;
    top: 100px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  .form {
    max-width: 500px;
  }
}

.admin-navbar {
  position: fixed;
  top: 20px;
  right: 20px;
}

.admin-navbar a {
  margin: 10px;
  color: white;
  text-decoration: none;
}